html{
  overflow: hidden;
}
.wrapper{
  max-width: 100vw;
  Height: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
.main_nav1{
  overflow: hidden;
  position: relative;
  background-color: black;
  width: 87%;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}
  .main_nav1 a{
    float: right;
    margin: 25px 25px;
    color: white;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: Verdana, sans-serif;
  }
  .main_nav1 a:hover {
    background-color: #ddd;
    color: #FFB6C1;
  }
  #logo{
    float: left;
    width: 50px;
    height: 10px;
    padding-left:50px;
  }
  .sen{
    position: absolute;
    z-index: 1;
    margin-left: -35px;
  }
  body {
    padding:0px;
    margin:0px;
    background-color: #FFE5E5;
    background-image:url(images/back.jpg);
    height: 100vh; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
  }
  .faq{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 87%;
    padding-left: 30%;
    
  }
  h1{
      color:#777;
      margin-left: 270px;
      font-family: monospace, sans-serif;
  }
  .collapsible {
    background-color:white;
    color: #777;
    cursor: pointer;
    padding: 18px;
    width: 50%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 17px;
    margin-bottom: 3px;
  }
  .active, .collapsible:hover {
    background-color:#555;
  }
  .content {
    background-color: rgba(255, 255, 255, 0.8);
    font-family:Arial, Helvetica, sans-serif ;
    font-size: large;
    max-height: 0;
    width: 47%;
    padding: 0 18px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  .collapsible:after {
    content: '\02795'; 
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; 
  }

  