
.wrapper{
  max-width: 100vw;
  Height: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
.main_nav{
  overflow: hidden;
  position: relative;
  background-color: black;
  width: 87%;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}
.main_nav a{
  float: right;
  margin: 25px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family: Verdana, sans-serif;
}
.main_nav a:hover {
  background-color: #ddd;
  color: #FFB6C1;
}
#logo{
  float: left;
  width: 50px;
  height: 10px;
  padding-left:50px;
}
.sen{
  position: absolute;
  z-index: 1;
  margin-left:-35px;
}
body {
  padding:0px;
  margin:0px;
  background-color: #FFE5E5;
}
.form1{
    
  Background-image: url("images/bg.jpg");
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  width: 87%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding-top:60px;

}
  
form {

  padding:2% 5%;
  padding-bottom: 5%;
  background: #ffffff;
  border: 9px solid #f2f2f2;            
  max-width: 520px;
  margin: auto;        
}
h1{
 text-align: center;
}
Button{
  width: 100px;   
  color: #fff;
  font-family: Tahoma, Geneva, sans-serif;
  height: 30px;
  border-radius: 15px;
  border: 1p solid #999;
   background: salmon;
}
  
input, textarea , button{
   width: 100%;
}    
textarea{
  height: 200px;
}

  